.root {
  position: relative;
}

.inner {
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .content {
    max-width: 300px;
    width: 100%;
    margin-left: auto;

    @media (max-width: 650px) {
      margin: 0 auto;
    }
  }
}
