.root{
	padding: 100px 0;
	@media (max-width: 650px) {
		padding: 50px 0;
	}
}

.items{
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 110px;

	@media (max-width: 800px) {
		gap: 50px;
		margin-top: 30px;
	}
}